{
  "presets": [    
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    "relay",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      },
    ],
    ["@babel/plugin-proposal-class-properties", {"loose":false}]
  ]
}