* {
  box-sizing: border-box;
}
.tc.app {
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  display:flex;
  flex-flow:row;
  background:#000;
  color:white;
  font-family:Roboto,sans-serif;
  user-select: none;
  
  >.left {
    flex:1 1;
    display:flex;
    flex-flow:column;
    overflow:hidden;
  }
  >.right {
    flex:0 0 640px;
    display:flex;
    flex-flow:column;
    overflow:hidden;
  }
}

.tc.link {
  margin:0 4px;
  cursor:pointer;
  &.active, &:hover {
    text-decoration:underline;
  }
}

.tc.json {
  overflow:auto;
}