* {
  box-sizing: border-box;
}
.tc.app {

  --top-height     : 52px;
  --scroller-height: 36px;
  --ruler-height   : 28px;
  --status-height  : 24px;

  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  display:grid;
  grid-template-areas: "left splitter right";
  grid-template-columns: 1fr 0 max-content;
  background:#000;
  color:white;
  font-family:Roboto,sans-serif;
  user-select: none;
  overflow:hidden;
  >.left {
    grid-area:left;
    overflow:hidden;
    position:relative;
  }
  >.splitter {
    grid-area:splitter;
  }
  >.right {
    grid-area:right;
    overflow:hidden;
    position:relative;
  }
}

.tc.link {
  margin:0 4px;
  cursor:pointer;
  &.active, &:hover {
    text-decoration:underline;
  }
}

.tc.json {
  overflow:auto;
}

.tc.splitter {
  width:12px;
  position:relative;
  z-index:100;
  cursor:col-resize;
  margin:0 -6px;
}

.tc.logo {
  position:relative;
  background:#364e59ff;
  border-bottom: solid 1px #999;
  overflow:hidden;
  img {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}