.monaco-editor  {
  .tc.error.margin {
    background-color: red;
  }
  .tc.error.inline {
    text-decoration: underline dotted;
    color: red;
  }
  .tc.selected.inline {
    background:#cfc;
    font-weight:bold;
    color:#040;
  }
  .tc.selected.margin {
    background:#4684;
    font-weight:bold;
  }
}
