.monaco-editor  {
  .tc.error.margin {
    background-color: red;
  }
  .tc.error.inline {
    text-decoration: underline dotted;
    color: red;
  }
  .tc.selected.inline {
    background:#468d;
    color:white;
    font-weight:bold;
  }
  .tc.selected.margin {
    background:#4684;
    
    color:white;
    font-weight:bold;
  }
}
