.tc.controls {
  grid-area:  controls;
  height         : var(--top-height);
  line-height    : var(--top-height);
  background:#222;
  display: grid;
  grid-template-areas: 
    "play stop loop sel"
    "play stop snap scroll";

  padding:4px 2px;
  gap:4px;
  grid-template-rows: 20px 20px;
  grid-template-columns: 48px 48px 60px 60px;
    >.play { grid-area:play}
    >.stop { grid-area:stop}
    >.loop { grid-area:loop}
    >.sel { grid-area:sel}
    >.snap { grid-area:snap}
    >.scroll { grid-area:scroll}
}

.tc.time {
  grid-area:time;
  text-align:center;
  background:#222;
  line-height    : var(--top-height);
  width:200px;
}

.tc.links {
  grid-area:links;
  
  text-align:right;
  background:#222;
  line-height    : var(--top-height);
  padding-right:8px;

  height         : var(--top-height);
  background:#222;
  display: grid;
  grid-template-areas: 
    "left open midi"
    "left save mp3";

  padding:4px 2px;
  gap:4px;
  grid-template-rows: 20px 20px;
  grid-template-columns: 1fr max-content max-content;
    >.open { grid-area:open}
    >.save { grid-area:save}
    >.midi { grid-area:midi}
    >.mp3 { grid-area:mp3; opacity:0.2}
}

.small-button() {
  color        : #818181;
  background   : linear-gradient(to bottom, #282828 0%, #0F0F0F 5%, #060606 100%);
  box-shadow   : 0 0 1px 1px rgb(10, 10, 10), 0 0 2px 2px #fff2;
  border       : none;
  //height       : 18px;
  //min-width    : 50px;
  text-align   : left;
  //margin       : 3px 0 0 6px;
  font-size    : 9.9px;
  font-weight  : 800;
  border-radius: 4px;
  padding      : 0 8px;
  position     : relative;
  vertical-align:middle;
  line-height:20px;
  &:hover {
    color: #ccc;
  }
  min-height:20px;
}

.tc.small-button {
  .small-button();
}

.tc.led-button {
  padding      : 0 16px 0 8px;
  .small-button();
  &:before {
    position: absolute;
    content : '';
    right   : 4px;
    top     : 6px;

    width     : 6px;
    height    : 6px;
    background: #646464;

    //background-image: radial-gradient(#616161 0%, #616161 20%, #535353 60%);
    border-radius: 50%;
    box-shadow   : 0 0 4px #1C1C17;
    transition   : all .2s ease;
  }
  &.active {
    color: #ccc;
    box-shadow   : 0 0 1px 1px rgb(10, 10, 10), 0 0 2px 2px #ff04;

    &:before {
      background: goldenrod;
    }
  }
}


.tc.control-button {
  vertical-align:middle;
  color        : #818181;
  background   : linear-gradient(to bottom, #282828 0%, #0F0F0F 5%, #060606 100%);
  box-shadow   : 0 0 1px 1px rgb(10, 10, 10), 0 0 2px 2px #fff2;
  border       : none;
//  height       : 40px;
//  width    : 40px;
  text-align   : center;
  //margin       : 4px auto;
  font-size    : 24px;
  font-weight  : 800;
  border-radius: 4px;
  position     : relative;

  &.active {
    color: goldenrod;
    box-shadow   : 0 0 1px 1px rgb(10, 10, 10), 0 0 2px 2px #ff04;

    
  }
}