/*.tc.tracks {
  position       : relative;
  height         : 100%;
  width          : 100%;
  overflow-y     : auto;
  overflow-x     : hidden;
  //padding-right:100px;
  display:flex;
  >.headers {
    margin-top:28px;
    background:black;
    z-index:3;
  }

  >.view {
    min-height: 100%;
    position  : relative;
    display   : inline-block;
    overflow  : visible;


    >.tracks {
      width     : auto;
      display   : inline-block;
      border-top: solid 1px white;
      min-height: 100%;
      margin-top: 20px;
      position  : relative;
    }
  }

  .overlay {
    position: absolute;
    top     : 0;
    bottom  : 0;
    right   : 0;
    z-index : 1;
  }
}
*/

.track() {
  background   : #000400;
  background   : linear-gradient(to bottom, #181818 0%,  #111 60%, #060606 100%);

  &:nth-child(even) {
    //background   : linear-gradient(to bottom, #282828 0%,  #222 10%, #161616 100%);
  }
}

.tc.track {
  display      : block;
  .track();
  //box-shadow:0 1px 0 0 #f806 inset;
}

.tc.track-headers {
  grid-area: headers;
  overflow : hidden;
  position : relative;
  box-shadow:0px 0 6px 0 #0008;
  background: #222;
}


.tc.track-header {
  pointer-events: all;
  overflow      : hidden;
  padding       : 4px 8px 4px 8px;
  display       : block;
  font-weight   : 400;
  font-size     : 13px;
  text-overflow : ellipsis;
  white-space: nowrap;
  .track();
  .track-id:before {
    content:"";
    display:inline-block;
    width:8px;
    height:8px;
    background: var(--track-color);
    margin-right:4px;
  }
}