.tc.tracks {
  position:relative;
}
.tc.track {
  background:#333;
  margin-top:4 
  px;
  .header {
    background:#222;
    padding:2px 4px;
    font-weight:300;
  }
}

.tc.seek-cursor {
  position:absolute;
  top:0;
  bottom:0;
  width:0;
  border-left:solid 1px white;
}