body {
  --transition-x: left 0.1s;
}

body.zooming {
  --transition-x: none;
}

.tc.viewer {


  position: absolute;
  top     : 0px;
  left    : 0;
  bottom  : 0;
  right   : 0;

  display: grid;
  grid-template-areas:
    "logo splitter controls time links"
    "logo splitter scroller scroller scroller"
    "logo splitter ruler ruler ruler"
    "headers splitter viewport viewport viewport"
    "status status status status status";

  grid-template-columns: max-content 0px 1fr max-content 1fr;
  grid-template-rows   :
    var(--top-height) var(--scroller-height) var(--ruler-height) 1fr var(--status-height);


  >.logo {
    grid-area: logo;
  }

  >.splitter {
    grid-area: splitter;

  }
}

.tc.status {
  grid-area : status;
  overflow  : hidden;
  position  : relative;
  background: #111;
  display   : flex;
  border-top: solid 1px #333;
  padding   : 0 8px;
  gap       : 12px;

  >.message {
    line-height: var(--status-height);
    font-size  : 13px;

    >.label {
      text-transform: uppercase;
      font-size     : 11px;
      margin-right  : 2px;
      font-weight   : 500;
      color         : #666;
    }

    >.value {
      font-weight: 400;
    }
  }
}

.tc.viewport {
  grid-area: viewport;
  overflow : hidden;
  position : relative;

  >.view {
    transition: var(--transition-x);
    position  : absolute;
    display   : inline-block;
    overflow  : visible;
    left      : var(--tc-view-left);

    >.tracks {
      width   : auto;
      display : inline-block;
      top     : var(--tc-view-top);
      position: absolute;
      left    : 0;
    }
  }
}

.tc.overlay {
  position  : absolute;
  top       : 0;
  bottom    : 0;
  right     : 0;

  >.overlay {
    position: absolute;
    top     : 0;
    bottom  : 0;
    right   : 0;
    left    : 0;
    z-index : 1;
  }
}


.tc.seek-cursor {
  pointer-events  : none;
  position        : absolute;
  top             : 0;
  height          : 100%;
  width           : 0;
  margin-left     : -1.5px;
  //margin-left   : 100px;
  border-left     : solid 1px yellow;
  z-index         : 6;
  //transition      : var(--transition-x);
}

.tc.mouse-cursor {
  pointer-events  : none;
  position        : absolute;
  top             : 0;
  height          : 100%;
  z-index         : 5;
  width           : 0;
  //margin-left   : 100px;
  margin-left     : -1.5px;
  border-left     : solid 1px #999;
}

.tc.mouse-horizontal {
  pointer-events: none;
  position      : absolute;
  left          : 0;
  width         : 100%;
  z-index       : 5;
  height        : 0;
  border-top    : solid 1px #999;
}

.tc.loop-region {
  pointer-events  : none;
  position        : absolute;
  top             : 0;
  bottom          : 0;
  //margin-left   : 100px;
  background      : #fff2;

  >.splitter {
    pointer-events: all;
    position      : absolute;
    top           : 0;
    bottom        : 0;
    width         : 12px;
    cursor        : col-resize;

    &.in {
      left: -6px;
    }

    &.out {
      right: -6px;
    }

    &.dragging {
      background: #ff02;
    }

    &:hover {
      &::after {
        content    : "";
        position   : absolute;
        top        : 0;
        bottom     : 0;
        left       : 6px;
        border-left: solid 1px yellow;

      }


    }
  }

}

.tc.scroller {
  grid-area : scroller;
  overflow  : hidden;
  position  : relative;
  background: #222;
  height    : var(--scroller-height);
  border    : solid 3px #222;

  .track {
    width : 100%;
    height: 100%;
  }

  .tc.loop-region {
    background: #fff4;
  }

  .tc.view-region {
    //pointer-events  : none;
    position        : absolute;
    top             : 0px;
    bottom          : 0px;
    //background    : #222;
    //mix-blend-mode: screen;
    border-left     : solid 2px #999;
    border-right    : solid 2px #999;

    &:before {
      pointer-events: none;
      content       : "";
      position      : absolute;
      top           : 0;
      bottom        : 0;
      right         : calc(100% + 1px);
      width         : 100vw;
      background    : #0009;
    }

    &:after {
      pointer-events: none;
      content       : "";
      position      : absolute;
      top           : 0;
      bottom        : 0;
      left          : calc(100% + 1px);
      width         : 100vw;
      background    : #0009;
    }
  }
}

.tc.ruler {
  grid-area : ruler;
  display   : block;
  position  : relative;
  overflow  : hidden;
  background: #222;
  background: linear-gradient(to bottom, #282828 0%, #161616 100%);

  height: var(--ruler-height);
  border-top:solid 1px #333;
  box-shadow:0 2px 4px #fff4;
  .units {
    left: var(--tc-view-left);

    display    : block;
    white-space: nowrap;
    position   : absolute;
    top        : 0;
    bottom     : 0;
    transition : var(--transition-x);
    width:100%;
    line-height:12px;
    >.seconds {
      position:absolute;
      top:0;
      left:0;
      right:0;
    }
    >.bars {
      position:absolute;
      left:0;
      bottom:0;
      right:0;
    }
  }

  .second, .bar {
    //height        : var(--ruler-height);
    font-size     : 10px;
    vertical-align: top;
    display       : inline-block;
    height:12px;
  }
  .second {
    color:#999;
    font-weight:400;
    padding-left:4px;
    height:10px;
    border-left   : solid 2px #666;
  }
  .bar {
    position:relative;
    font-weight:600;
    font-size:11px;
  }
}